<div class="month">
    <p><%= monthYearSixMonth %></p>
    <p><%= monthYearFiveMonth %></p>
    <p><%= monthYearfourMonth %></p>
    <p><%= monthYearThreeMonth %></p>
    <p><%= monthYearTwoMonth %></p>
    <p><%= monthYearLastMonth %></p>
</div>
<div class="basic-income-input">Basic
    <input class="1st-months-basic-income basic-income" type="text" id="basic1" placeholder="Enter Amount" tabindex="2" onblur=" calculateAverage();">
    <input class="2nd-months-basic-income basic-income" type="text" id="basic2" placeholder="Enter Amount" tabindex="5" onblur=" calculateAverage()">
    <input class="3rd-months-basic-income basic-income" type="text" id="basic3" placeholder="Enter Amount" tabindex="8" onblur=" calculateAverage()">
    <input class="4th-months-basic-income basic-income" type="text" id="basic4" placeholder="Enter Amount" tabindex="11" onblur=" calculateAverage()">
    <input class="5th-months-basic-income basic-income" type="text" id="basic5" placeholder="Enter Amount" tabindex="14" onblur=" calculateAverage()">
    <input class="6th-months-basic-income basic-income" type="text" id="basic6" placeholder="Enter Amount" tabindex="17" onblur=" calculateAverage()">
</div>
<div class="variable-income-input">Variable
    <input class="1st-months-variable-income variable-income" type="text" id="variable1" placeholder="Enter Amount" tabindex="3" onblur=" calculateAverage();averageVariableIncome()">
    <input class="2nd-months-variable-income variable-income" type="text" id="variable2" placeholder="Enter Amount" tabindex="6" onblur=" calculateAverage();averageVariableIncome()">
    <input class="3rd-months-variable-income variable-income" type="text" id="variable3" placeholder="Enter Amount" tabindex="9" onblur=" calculateAverage();averageVariableIncome()">
    <input class="4th-months-variable-income variable-income" type="text" id="variable4" placeholder="Enter Amount" tabindex="12" onblur=" calculateAverage();averageVariableIncome()">
    <input class="5th-months-variable-income variable-income" type="text" id="variable5" placeholder="Enter Amount" tabindex="15" onblur=" calculateAverage();averageVariableIncome()">
    <input class="6th-months-variable-income variable-income" type="text" id="variable6" placeholder="Enter Amount" tabindex="18" onblur=" calculateAverage();averageVariableIncome()">
</div>
<div class="epf-basic-income-input">Epf
    <input class="1st-months-epf basic-epf" type="text" id="epf1" placeholder="Enter Amount" tabindex="4" onblur="newalertValues();">
    <input class="2nd-months-epf basic-epf" type="text" id="epf2" placeholder="Enter Amount" tabindex="7" onblur="newalertValues();">
    <input class="3rd-months-epf basic-epf" type="text" id="epf3" placeholder="Enter Amount" tabindex="10" onblur="newalertValues();">
    <input class="4th-months-epf basic-epf" type="text" id="epf4" placeholder="Enter Amount" tabindex="13" onblur="newalertValues();">
    <input class="5th-months-epf basic-epf" type="text" id="epf5" placeholder="Enter Amount" tabindex="16" onblur="newalertValues();">
    <input class="6th-months-epf basic-epf" type="text" id="epf6" placeholder="Enter Amount" tabindex="19" onblur="newalertValues();">
</div>
<div class="epf-analysis-container">formula (%)
    <div class="epf-analysis-style epf-analysis"> 0.00 (%)</div>
    <div class="epf-analysis-style epf-analysis2"> 0.00 (%)</div>
    <div class="epf-analysis-style epf-analysis3"> 0.00 (%)</div>
    <div class="epf-analysis-style epf-analysis4"> 0.00 (%)</div>
    <div class="epf-analysis-style epf-analysis5"> 0.00 (%)</div>
    <div class="epf-analysis-style epf-analysis6"> 0.00 (%)</div>
</div> 
<div class="g-net-income-container"> N.Income
    <div class="g-net-income g-net-income1"> 0.00</div>
    <div class="g-net-income g-net-income2"> 0.00</div>
    <div class="g-net-income g-net-income3"> 0.00</div>
    <div class="g-net-income g-net-income4"> 0.00</div>
    <div class="g-net-income g-net-income5"> 0.00</div>
    <div class="g-net-income g-net-income6"> 0.00</div>
</div> 