<div class="month2">
    <p><%= monthYearSixMonth %></p>
    <p><%= monthYearFiveMonth %></p>
    <p><%= monthYearfourMonth %></p>
    <p><%= monthYearThreeMonth %></p>
    <p><%= monthYearTwoMonth %></p>
    <p><%= monthYearLastMonth %></p>
</div>
<div class="basic-income-input2">Basic
    <input class="1st-months-basic-income basic-income2" type="text" id="basic12" placeholder="Enter Amount" tabindex="2" onblur="calculateAverage2();">
    <input class="2nd-months-basic-income basic-income2" type="text" id="basic22" placeholder="Enter Amount" tabindex="5" onblur=" calculateAverage2()">
    <input class="3rd-months-basic-income basic-income2" type="text" id="basic32" placeholder="Enter Amount" tabindex="8" onblur=" calculateAverage2()">
    <input class="4th-months-basic-income basic-income2" type="text" id="basic42" placeholder="Enter Amount" tabindex="11" onblur=" calculateAverage2()">
    <input class="5th-months-basic-income basic-income2" type="text" id="basic52" placeholder="Enter Amount" tabindex="14" onblur=" calculateAverage2()">
    <input class="6th-months-basic-income basic-income2" type="text" id="basic62" placeholder="Enter Amount" tabindex="17" onblur=" calculateAverage2()">
</div>
<div class="variable-income-input">Variable
    <input class="1st-months-variable-income variable-income2" type="text" id="variable12" placeholder="Enter Amount" tabindex="3" onblur=" calculateAverage2();averageVariableIncome2();">
    <input class="2nd-months-variable-income variable-income2" type="text" id="variable22" placeholder="Enter Amount" tabindex="6" onblur=" calculateAverage2();averageVariableIncome2();">
    <input class="3rd-months-variable-income variable-income2" type="text" id="variable32" placeholder="Enter Amount" tabindex="9" onblur=" calculateAverage2();averageVariableIncome2();">
    <input class="4th-months-variable-income variable-income2" type="text" id="variable42" placeholder="Enter Amount" tabindex="12" onblur=" calculateAverage2();averageVariableIncome2();">
    <input class="5th-months-variable-income variable-income2" type="text" id="variable52" placeholder="Enter Amount" tabindex="15" onblur=" calculateAverage2();averageVariableIncome2();">
    <input class="6th-months-variable-income variable-income2" type="text" id="variable62" placeholder="Enter Amount" tabindex="18" onblur=" calculateAverage2();averageVariableIncome2();">
</div>
<div class="epf-basic-income-input">Epf
    <input class="1st-months-epf basic-epf2" type="text" id="epf12" placeholder="Enter Amount" tabindex="4" onblur="newalertValues2();">
    <input class="2nd-months-epf basic-epf2" type="text" id="epf22" placeholder="Enter Amount" tabindex="7" onblur="newalertValues2();">
    <input class="3rd-months-epf basic-epf2" type="text" id="epf32" placeholder="Enter Amount" tabindex="10" onblur="newalertValues2();">
    <input class="4th-months-epf basic-epf2" type="text" id="epf42" placeholder="Enter Amount" tabindex="13" onblur="newalertValues2();">
    <input class="5th-months-epf basic-epf2" type="text" id="epf52" placeholder="Enter Amount" tabindex="16" onblur="newalertValues2();">
    <input class="6th-months-epf basic-epf2" type="text" id="epf62" placeholder="Enter Amount" tabindex="19" onblur="newalertValues2();">
</div>
<div class="epf-analysis-container">formula (%)
    <div class="epf-analysis-style epf-analysis epf-analysis12"> 0.00 (%)</div>
    <div class="epf-analysis-style epf-analysis22"> 0.00 (%)</div>
    <div class="epf-analysis-style epf-analysis32"> 0.00 (%)</div>
    <div class="epf-analysis-style epf-analysis42"> 0.00 (%)</div>
    <div class="epf-analysis-style epf-analysis52"> 0.00 (%)</div>
    <div class="epf-analysis-style epf-analysis62"> 0.00 (%)</div>
</div> 
<div class="g-net-income-container"> N.Income
    <div class="g-net-income g-net-income12"> 0.00</div>
    <div class="g-net-income g-net-income22"> 0.00</div>
    <div class="g-net-income g-net-income32"> 0.00</div>
    <div class="g-net-income g-net-income42"> 0.00</div>
    <div class="g-net-income g-net-income52"> 0.00</div>
    <div class="g-net-income g-net-income62"> 0.00</div>
</div> 